{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Bienvenido
{% endblock title %}

{% block content %}
    {% if username %}
        <h1>Bienvenido, {{ username | capitalize }}</h1>
    {% endif %}    

    <div class="container">
        <h2>Ingrese un nuevo electrodomestico</h2>

        {{ wtf.quick_form(todo_form) }}
    </div>
<div class="result-container">
    <ul class="lista-elec">
    {% for todo in todos %}
        {{ macros.render_todo(todo, delete_form) }}
    {% endfor %}
    </ul>

<div class="salida-container">
    <p>Gasto est. Diario: {{ costo }}$</p>
    <p>Gasto est. Semanal: {{ costo_semanal }}$</p>
    <p>Gasto est. Mensual: {{ costo_mensual }}$</p>
</div>
</div>
{% endblock content %}


